CONFIG_TARGET_ar71xx=y
CONFIG_TARGET_ar71xx_tiny=y
CONFIG_TARGET_ar71xx_tiny_DEVICE_tl-wr890n-v1=y
CONFIG_NPC_COMPRESS_UPX=y
CONFIG_PACKAGE_autossh=y
CONFIG_PACKAGE_breed-enter=y
CONFIG_PACKAGE_breed-enter-go=m
CONFIG_PACKAGE_ca-certificates=m
CONFIG_PACKAGE_igmpproxy=y
CONFIG_PACKAGE_ipv6helper=y
CONFIG_PACKAGE_kcptun-client=m
CONFIG_PACKAGE_kcptun-config=m
CONFIG_PACKAGE_kcptun-server=m
CONFIG_PACKAGE_kwrt-settings=y
CONFIG_PACKAGE_luci-app-cifs-mount=y
CONFIG_PACKAGE_luci-app-commands=y
CONFIG_PACKAGE_luci-app-dnsforwarder=y
CONFIG_PACKAGE_luci-app-easymesh=y
CONFIG_PACKAGE_luci-app-eqos=y
CONFIG_PACKAGE_luci-app-frpc=y
CONFIG_PACKAGE_luci-app-guest-wifi=y
CONFIG_PACKAGE_luci-app-iptvhelper=y
CONFIG_PACKAGE_luci-app-msd_lite=y
CONFIG_PACKAGE_luci-app-mwan3=y
CONFIG_PACKAGE_luci-app-mwan3helper=y
CONFIG_PACKAGE_luci-app-n2n=y
CONFIG_PACKAGE_luci-app-nfs=y
CONFIG_PACKAGE_luci-app-nlbwmon=y
CONFIG_PACKAGE_luci-app-nps=m
CONFIG_PACKAGE_luci-app-omcproxy=y
CONFIG_PACKAGE_luci-app-openvpn-server=y
CONFIG_PACKAGE_luci-app-passwall=y
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Simple_Obfs is not set
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Trojan_Plus is not set
CONFIG_PACKAGE_luci-app-pptp-server=y
CONFIG_PACKAGE_luci-app-qos=y
CONFIG_PACKAGE_luci-app-socat=y
CONFIG_PACKAGE_luci-app-ssr-plus=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Trojan=y
CONFIG_PACKAGE_luci-app-syncdial=y
CONFIG_PACKAGE_luci-app-udpxy=y
CONFIG_PACKAGE_luci-app-vsftpd=y
CONFIG_PACKAGE_luci-app-wireguard=y
CONFIG_PACKAGE_luci-app-wrtbwmon=y
CONFIG_PACKAGE_luci-app-zerotier=y
CONFIG_PACKAGE_v2ray-core=m
CONFIG_PACKAGE_v2ray-extra=m
CONFIG_PACKAGE_v2ray-geoip=m
CONFIG_PACKAGE_v2ray-geosite=m
CONFIG_PACKAGE_v2ray-plugin=m
CONFIG_PACKAGE_wireguard-tools=y
CONFIG_PACKAGE_xray-core=m
CONFIG_PACKAGE_xray-plugin=m
CONFIG_PACKAGE_zabbix-agentd=y
CONFIG_PACKAGE_zabbix-extra-mac80211=y
CONFIG_PACKAGE_zabbix-extra-network=y
CONFIG_PACKAGE_zabbix-extra-wifi=y
CONFIG_PACKAGE_zabbix-get=y
CONFIG_PACKAGE_zabbix-sender=y
CONFIG_PACKAGE_zerotier=y
